/* 
author: Alanis Nazario
Date: Sept-Oct 2021
TO-DO LIST
Fix nav bar size to make it thinner
Make nav bar look prettier when the page is smaller
Add more images to the home

*/


body{
    background-color: #fff;
    margin: 0%;
    font-family: sans-serif;
}


nav{
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(255,255,255,0);
    background: linear-gradient(to bottom, #d1abe6, #dfc0f0  70%, #0000 );
    transition: background .5s;
    
}

nav a{
    line-height: 370%;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    font-size: 16px;
}

nav.scrolled {
    background: #d1abe6 !important;
}

nav .icon {
    display: none;
}
    
@media screen and (max-width: 600px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
      float: right;
      display: block;
    }
    .premium-img a.premium-img{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    nav.responsive {position: relative;}
    nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
}

nav.responsive a {
    float: none;
    display: block;
    text-align: left;
   }
}

.logo-img img{
    top: 2%;
    left: 2%;
    position: relative;
    width: 80px;
    display: inline-block;
}

.premium-button {
    background-color: #dcbdef;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px; 
    transition: 0.5s;

}

.premium-button:hover{
    background-color: #c3a7d4;
    color: white;
}

.download-nav{
    transition: 0.5s;
}

.download-nav:hover{
    color: black;
}

.home-page img{
    max-width: 100%;
    height: auto;
    display: grid;
    margin: 0;
}

ul{
    list-style: none;
    padding-left: 0;
}

/* Footer */

footer{
    clear: both;
    bottom: 0%;
    color: white;
    line-height: 1.5;
    margin: 0%;
    height: auto;
    width: 99%;
    padding: 10px;
    background: #d1abe6;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 14px 16px;

}


.home-footer div{
    width: 100px; 
    height:100px; 
    background:gray; 
    margin:10px
}

.home-footer-1{
    float: right;
    
}

.home-footer-2{
    float:left;
    padding-left: 10px;
}

.home-footer-3{
    float: left;
    padding-left: 20px;
}

.home-footer-4{
    float: left;
    padding-left: 20px;
}

.home-footer-5{
    float: left;
    padding-left: 20px;
}

.home-footer-6{
    float: left;
    padding-left: 20px;
}



/* Premium page */
.square{
    float: left;
    margin: 20px;
    height: 200px;
    width: 270px;
    background-color: #d1abe6;
    margin-left: 20px;
    margin-right: 5px;
    border-radius: 25px;
  
}

.square2{
    float: left;
    margin: 20px;
    height: 200px;
    width: 270px;
    background-color: #d1abe6;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 5px;
    border-radius: 25px;
}